.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Set the height to fill the entire viewport */
  }
  
  .squared-paper {
    width: 100%; /* Set the width to 100% to take the full width of the container */
    height: 100vh; /* Set the height to fill the entire viewport */
    background: repeating-linear-gradient(
      0deg,
      transparent,
      transparent 10px,
      rgba(204, 204, 204, 0.5) 10px, /* Use rgba with alpha value for transparency */
      rgba(204, 204, 204, 0.5) 11px
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent 10px,
      rgba(204, 204, 204, 0.5) 10px, /* Use rgba with alpha value for transparency */
      rgba(204, 204, 204, 0.5) 11px
    );
  }
  
  .custom-link {
    color: black !important;
  }
  